page-inicio {

    #tabs .toolbar-background-md {
        background-color: #000;
        color: #fff;
    }

    img#top {
        height: inherit !important;
    }

}

// .div-slides{    
//     bottom: 0;
//     width: 100%;    
//     height: 160px;
//     display: block;        
//     background-color: #e6e6e6;
//     img{
//         width: auto;
//         height: 80px;
//         object-fit: contain;
//     }
// }
// .tam-title{
//     margin-top: -0.5%;
//     font-size: 80%;
//     font-weight: bold;
//     color: #ff9900;
// }

.toolbar-md-primary .toolbar-background-md {
    background: #a50d0d;
}
.scroll-content {
    background-color: #f1f1f1;
}

ion-card img {
    display: block;
    width: inherit;
}

.card-md, .card-ios, .card-wp {
    margin: 0px;
    width: auto;
}

.card-md p, .card-ios p, .card-wp p {
    color: #666;
}

.blue .card-md, .blue  .card-ios, .blue .card-wp {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-content-md, .card-content-ios, .card-content-wp {
    padding: 15px 3px;
}

.card-title-ios {
    font-size: 24px;
}

p.title {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #333;
}

p.subtitle {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

p.content {
    text-align: center;
    color: #666;
}

.blue .card-ios p, .blue .card-md p, .blue p.title, .blue p.content {
    color: #fff;
} 

.a {
    color: #402bff;
}

.b {
    color: rgb(0, 153, 51);
}

.bbb {
    background-color: rgb(0, 153, 51);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.c {
    color: #f53d3d;
}

.ccc {
    background-color: #f53d3d;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.d {
    color: #333;
}

.e {
    color: #f5963d;
}

.bold {
    font-weight: bold;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.img50 {
    height: 50px;
}

.card-md p.f12, .card-ios p.f12 {
    font-size: 12px;
}

.card-md p.f14 {
    font-size: 14px;
}

.btb {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bt {
    border-top: 1px solid #ccc;
}

.bb {
    border-bottom: 1px solid #ccc;
}

.gris {
    background: rgb(145, 145, 145);
    color: #fff;
}

.blue {
    background-color: #488aff;
}

hr, .content-ios hr {
    height: 1px;
}

.img-circle {
    border-radius: 50%;
}

.part{
    color: #fff;
}

.btn {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 0px auto;
}

#panic {
    background: transparent;
}

#map {
    width: 100%;
    height: 300px;
}

.boxContainer{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: #444;
    border: 1px solid #ccc;
}

.boxContainer > label {
    font-size: 14px;
    line-height: 33px;
}