<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start float-right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
        Botón de Pánico
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- <h2 text-center>Productos en sorteo</h2> -->

  <!-- <div padding>
    <ion-grid>
      <ion-row>
        <ion-col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 *ngFor="let item of items">
          <ion-card>
            <img src="assets/imgs/celular8.jpg"/>
            <ion-card-content>
              <p class="title">{{item.title}}</p>
              <p class="content">
                <span class="a">264</span> / <span class="b">950 CP</span>
              </p>
              <div text-center>
                <button ion-button small round>Compra</button>
                <button ion-button small round class="gris">Sorteo</button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <!-- <div padding class="blue part">
    <h3 text-center>¿Como funciona?</h3>
    <hr>
    <ion-grid color="primary">
      <ion-row>
        <ion-col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 *ngFor="let item2 of items2">
          <ion-card class="blue">
            <img src="assets/imgs/celular8.jpg" class="img-circle"/>
            <ion-card-content>
              <p class="title"><span>{{item2.head}}</span></p>
              <p class="content">
                  {{item2.content}}. 
              </p>
              <div text-center>
                <button ion-button small round class="gris" ><ion-icon name="add"></ion-icon> More </button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <!-- <div padding><br><br>
    <div class="mainContainer">
        <div class="boxContainer">
          <label (click)="show()"><ion-icon name="pin"></ion-icon> LAT: {{lat}} | LNG: {{lng}} | PRC: {{acc}}</label>
      </div>
    </div> -->
    <!-- <div class="mainContainer">
      <div class="container">
        <h3 class="title">LATITUD</h3>
        <h3 class="content">{{lat}}</h3>
      </div>
      <div class="container">
        <h3 class="title">LONGITUD</h3>
        <h3 class="content">{{lng}}</h3>
      </div>
      <div class="container">
        <h3 class="title">PRECISION</h3>
        <h3 class="content">{{acc}}</h3>
      </div>
    </div> -->
  <!-- </div> -->
  
  <div [hidden]="checkAccess">

    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center>
        <img id="top" src="assets/imgs/pjg.jpg" >
      </ion-col>
    </ion-row><br>
    <div padding>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center>
            <!-- <a class="btn" href="#"><i class="ion-ios-arrow-down"></i></a> -->
            <button id='panic' (click)="send(lat,lng,acc)" [disabled]="!isenabledBtn">
              <img style="height: 180px;" src="assets/imgs/red_button3.png" >
            </button>
          </ion-col>
          <!-- <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center>
            <button (click)="getCurrentPosition()" ion-button icon-only>
              <ion-icon name="refresh"></ion-icon>
            </button>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>
  
  </div>

  <div [hidden]="!checkAccess">
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center>
        <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, possimus sequi. Illum cum quia, veritatis voluptatibus unde natus necessitatibus asperiores placeat provident aspernatur doloribus mollitia ab dignissimos ducimus nulla rerum. -->
        <div padding>
          <div #map id="map"></div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  

  <!-- <div class="div-slides">
    <span>Produtos</span>
    <ion-slides slidesPerView="3" spaceBetween="1">
      <ion-slide *ngFor="let slide of slides">
        <img class="slides-img" [src]="slide.img">
        <p class="tam-title"> {{slide.title}} </p>
      </ion-slide>
    </ion-slides>
  </div> -->

  <!-- <div padding>
    <h3 text-center>Productos en venta</h3>
    <hr>
    <ion-grid color="primary">
      <ion-row>
        <ion-col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 *ngFor="let item3 of items3">
          <ion-card>
            <img [src]="item3.img"/>
            <ion-card-content>
              <p class="title"><span>{{item3.head}}</span></p>
              <p class="subtitle"><span>{{item3.price}}</span></p>
              <p class="content">
                  {{item3.content}}. 
              </p>
              <div text-center>
                <button ion-button small round>Comprar</button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

</ion-content>

<ion-footer no-border text-center>
  <ion-toolbar>
    <div class="mainContainer">
      <div class="">
        <label (click)="show()"><ion-icon name="pin"></ion-icon> LAT: {{lat}} | LNG: {{lng}} | PRC: {{acc}}</label>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar id="tabs">
    <div style="width: 33.33%; float: left;">
      <ion-buttons>
        <button class="part" ion-button icon-only clear large>
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div style="width: 33.33%; float: right;">
      <ion-buttons>
        <button class="part" ion-button icon-only clear large>
          <ion-icon name="mic"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div style="width: 33.33%; float: right;">
      <ion-buttons>
        <button class="part" ion-button icon-only clear large>
          <ion-icon name="videocam"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>

