page-list-notification {
    .label-md {
        margin: 0px;
    }
    .grid {
        padding: 0px;
    }
    .col {
        padding: 0px;
    }
    [col-6] {
        padding: 0px;
    }
    .hide {
        display: none;
    }
    .show {
        display: block !important;
    }
}
